{{ schedule | json }}
{{ project | json }}
{{ user | json }}

<table id = table_id>
    <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                <select>
                    <option (click)="onSelectChange(undefined)">| - - - - - - - - - - - - - - - |</option>
                    <option *ngFor="let proj of projectList" (click)="onSelectChange(proj)" value = "{{ proj }}">{{ proj.name }}</option>
                </select>
            </td>
            <td>{{ temp.desc }}</td>
            <!-- <td *ngIf = "temp.desc">{{ temp.desc }}</td> -->
            <!-- <td *ngIf = "temp.desc == undefined">| --- |</td> -->
            <!-- <td *ngIf = "temp.desc == false">| --- |</td> -->
            <!-- <td *ngIf = "temp.desc == null">| --- |</td> -->
            <td>
                <select name="schedule.sunday" [(ngModel)] = "schedule.sunday" value = "{{ schedule.sunday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.monday" [(ngModel)] = "schedule.monday" value = "{{ schedule.monday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.tuesday" [(ngModel)] = "schedule.tuesday" value = "{{ schedule.tuesday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.wednesday" [(ngModel)] = "schedule.wednesday" value = "{{ schedule.wednesday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.thursday" [(ngModel)] = "schedule.thursday" value = "{{ schedule.thursday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.friday" [(ngModel)] = "schedule.friday" value = "{{ schedule.friday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <select name="schedule.saturday" [(ngModel)] = "schedule.saturday" value = "{{ schedule.saturday }}">
                    <option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option>
                </select>
            </td>
            <td>
                <form (submit)="addWeek()">
                    <input type="submit" value="Add Week To Time-Sheet">
                </form> 
            </td>
        </tr>
        
    </tbody>
</table>
